{% extends 'base.html.twig' %}

{% block title %}Joueurs{% endblock %}

{% block body %}
<section>

<h1>Mes joueurs</h1>
    <table class="playersTable">
        <thead>
            <tr>
                <th>Nom</th>
                <th class="minSize">Prénom</th>
                <th>Equipe</th>
                <th class="minSize">Age</th>
                <th class="minSize">Taille</th>
                <th class="minSize">Nationalité</th>
                <th class="indexPhoto">Photo</th>
                <th class="minSize ">Poste préféré</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td class="identity">{{ player.lastname }}</td>
                <td class="identity minSize">{{ player.firstname }}</td>
                <td>{{ player.team.name }}</td>
                <td class="minSize">{{ player.age }} ans</td>
                <td class="minSize">{{ player.height }} cm</td>
                <td class="identity minSize"><img class="flag" src="https://flagcdn.com/w640/{{ player.nationality|lower }}.png" alt="{{ player.nationality }}"></td>
                <td class="indexPhoto"><img class="IdPhoto" src="{{ asset('upload_directory/' ~ player.photo) }}" alt=""></td>
                <td class="minSize">{{ player.preferedRole }}</td>
                <td>
                <button class="playersTable">
                    <a href="{{ path('app_players_show', {'id': player.id}) }}">Voir le joueur</a>
                </button>
                <button class="playersTable">
                    <a href="{{ path('app_players_edit', {'id': player.id}) }}">Modifier</a>
                </button>
                </td>
            </tr>
        {% else %}
            <tr colspan="4"><td>Pas de joueur enregistré</td></tr>
        {% endfor %}
            <tr>
                <td>
                <button class="playersTable">
                <a href="{{ path('app_new_players') }}">Ajouter un joueur</a>
                </button>
                </td>
            </tr>
        </tbody>
    </table>
</section>
{% endblock %}
