{% extends 'base.html.twig' %}

{% block title %}Joueur{% endblock %}

{% block body %}
    <div class="showPlayer">
    <h1>Joueur</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Nom</th>
            <td class="identity">{{ players.lastname }}</td>
        </tr>
        <tr>
            <th>Prénom</th>
            <td class="identity">{{ players.firstname }}</td>
        </tr>
        <tr>
            <th>Photo</th>
            <td><img class="showImg" src="{{ asset('upload_directory/' ~ players.photo) }}" alt=""></td>
        </tr>
        <tr>
            <th>Age</th>
            <td>{{ players.age }} ans</td>
        </tr>
        <tr>
            <th>Taille</th>
            <td>{{ players.height }} cm</td>
        </tr>
        <tr>
            <th>Nationalité</th>
            <td>{{ players.nationality }}</td>
        </tr>
        <tr>
            <th>Poste préféré</th>
            <td>{{ players.preferedRole }}</td>
        </tr>
        <tr>
            <th>Action</th>
            <td>
            <button>
            <a href="{{ path('app_players_index') }}">Retour à la liste</a>
            </button>
            <button>
            <a href="{{ path('app_players_edit', {'id': players.id}) }}">Modifier</a>
            </button>
            </td>
            <td>
            {{ include('players/_delete_form.html.twig') }}
            </td>
        </tr>
        </tbody>
    </table>
    </div>
{% endblock %}
