{% extends 'base.html.twig' %}

{% block title %}Joueur{% endblock %}

{% block body %}
    <div class="showPlayerContainer">
        <div class="showPlayerCard">

        <div class="showPlayerBack">
            <div class="identityShow">
                <h2>{{ players.lastname }} </h2>
                <h2> {{ players.firstname }}</h2>
            </div>
            <div><img class="showImg" src="{{ asset('upload_directory/' ~ players.photo) }}" alt=""></div>
            <div class="infoPlayers">
                <div class="divers">
                <div>
                    <h4>Age</h4>
                    <p>{{ players.age }} ans</p>
                </div>
                <div>
                    <h4>Taille</h4>
                    <p>{{ players.height }} cm</p>
                </div>
                </div>
                <div>
                    <h4>Poste préféré</h4>
                    <p>{{ players.preferedRole }}</p>
                </div>
            </div>

                <h4>Actions</h4>
            <div class="actionPlayer">
                <a href="{{ path('app_players_index') }}">
            <button class="btn1">
                    Retour à la liste
            </button>
                </a>
                <a href="{{ path('app_players_edit', {'id': players.id}) }}">
            <button class="btn2">
                    Modifier
            </button>
                </a>
                {{ include('players/_delete_form.html.twig') }}
            </div>
        </div>
        <div class="showPlayerFront">
                <div class="nation">
                    <img class="flag" src="https://flagcdn.com/256x192/{{ players.nationality|lower }}.png" alt="{{ players.nationality }}">
                </div>

            </div>
        </div>
    </div>
{% endblock %}
