<header>
    <nav>
        <ul class="flex around align">
            <li><a href="{{ path('app_home') }}"><img src="{{ asset('assets/img/ballonbiere.jpg') }}" alt="mon logo"></a></li>
            <li><a href="{{ path('app_home') }}">Accueil</a></li>
            <li><a href="{{ path('app_club') }}">Club</a></li>
            {% if is_granted("ROLE_ADMIN") %}
                <li><a href="">Admin</a></li>
            {% endif %}
            {% if is_granted("IS_AUTHENTICATED_REMEMBER") %}
                <li><a href="">Connexion</a></li>
            {% else %}
                <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
            {% endif %}
        </ul>
    </nav>
</header>