<header>
    <nav>
        <ul class="flex around align">
            <li class="liNotHover"><a href="{{ path('app_home') }}"><img src="{{ asset('assets/img/iconmonstr-soccer-1-240.png') }}" alt="mon logo"></a></li>
            <li><a href="{{ path('app_home') }}">Accueil</a></li>
            {% if is_granted("ROLE_ADMIN") %}
                <li><a href="{{ path('admin') }}">Admin</a></li>
            {% endif %}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li><a href="{{ path('app_club_index') }}">Club</a></li>
                <li><a href="{{ path('app_players_index') }}">Joueurs</a></li>
                <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
            {% else %}
                <li><a href="{{ path('app_login') }}">Connexion</a></li>
            {% endif %}
        </ul>
    </nav>
</header>