{% extends 'base.html.twig' %}

{% block title %}Club index{% endblock %}

{% block body %}
    <article class="club">
    <h1>Index de mon(mes) Club(s)</h1>
        {% for club in clubs %}
               <h2 class="clubTitle">{{ club.name }}</h2>
            <div class="clubCard">
                <img class="logo" src="{{ asset('upload_directory/' ~ club.logo.name) }}" alt="{{ club.logo.alt }}">
                <div class="stade">
                    <h3><img src="{{ asset('assets/img/logostade.jpg') }}" alt="logo de stade"> Stade {{ club.stade }}</h3>
                    <p> pelouse {{ club.pelouse }}</p>
                    <p>{{ club.places }} places</p>
                    <p>{{ club.couverture }}</p>
                </div>
                    <div class="teams">
                    <h3>joueurs <img src="{{ asset('assets/img/logomaillot.png') }}" alt="logo de maillot"></h3>
                    {% for player in club.players %}
                    <p>{{ player.firstname }} {{player.lastname}} </p>
                    {% endfor %}
                    </div>
                <div class="action">
                    <button>
                    <a href="{{ path('app_club_show', {'id': club.id}) }}">Voir le club</a>
                    </button>
                    <button>
                    <a href="{{ path('app_club_edit', {'id': club.id}) }}">Modifier</a>
                    </button>
                </div>

            </div>
        {% else %}
                <p>Pas d'équipe enregistrée</p>
        {% endfor %}
    <button>
    <a href="{{ path('app_club_new') }}">Créer un nouveau club</a>
    </button>

    </article>
{% endblock %}
